#game-view,
.loading {
  width: 700px;
  margin: 0 auto;
}
#infoContent {
  font-family: system, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Lucida Grande;
  border-bottom: 1px solid #eee;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2em;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
}
#share {
  font-size: 0.8em;
}
#share,
#share .url {
  color: #888;
}
#timer {
  font-size: 1.5em;
  font-family: Courier New, monospace;
}
#status-line {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}
.red-turn .status-text {
  color: #d13030;
}
.blue-turn .status-text {
  color: #4183cc;
}
#remaining {
  width: 10em;
}
#remaining .red-remaining {
  color: #d13030;
}
#remaining .blue-remaining {
  color: #4183cc;
}
#end-turn-cont {
  width: 10em;
  text-align: right;
}
#end-turn-btn {
  border: 1px solid #ddd;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  padding: 5px;
  background: #eee;
  cursor: pointer;
}
#mode-toggle {
  text-align: right;
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#mode-toggle button {
  padding: 5px;
  border: 1px solid #ddd;
  background: #eee;
  cursor: pointer;
}
#mode-toggle button.gear {
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 2px 8px 0;
}
#mode-toggle button.codemaster {
  border-left: none;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}
#mode-toggle button.player {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}
#mode-toggle.codemaster-selected button.codemaster,
#mode-toggle.player-selected button.player {
  cursor: auto;
  color: #999;
}
#next-game-btn {
  margin-left: 10px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 19%;
  height: 18%;
}
.cell.disabled {
  cursor: not-allowed !important;
}
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
}
.board .hidden-word {
  cursor: pointer;
}
.board .neutral.revealed {
  background: #ede2cc;
}
.cell .word {
  vertical-align: middle;
  display: inline-block;
}
.cell {
  background: #e8e8e8;
}
.codemaster .red.hidden-word {
  color: #d13030;
}
.codemaster .blue.hidden-word {
  color: #4183cc;
}
.codemaster .black.hidden-word {
  background: #999;
}
.codemaster .cell {
  font-weight: 700;
}
.board .red.revealed {
  background: #d13030;
  color: #fff;
}
.board .blue.revealed {
  background: #4183cc;
  color: #fff;
}
.board .black.revealed {
  background: #000;
  color: #fff;
}
.player .board.win > .cell.red.hidden-word {
  background: rgba(209, 48, 48, 0.4);
}
.player .board.win > .cell.blue.hidden-word {
  background: rgba(65, 131, 204, 0.4);
}
.player .board.win > .cell.black.hidden-word {
  background: hsla(0, 0%, 60%, 0.4);
}
.dark-mode .codemaster .board.win > .cell.neutral {
  color: #aaa;
}
#remaining span {
  display: inline-block;
  padding: 3px 5px;
}
.color-blind #status {
  padding: 3px 5px;
}
.color-blind #status-line.blue #status,
.color-blind .blue-remaining {
  border: 2px solid #4183cc;
}
.color-blind #status-line.red #status,
.color-blind .red-remaining {
  border: 2px dashed #d13030;
}
.color-blind.codemaster .red.hidden-word,
.color-blind .red.revealed {
  outline: 2px dashed #d13030;
  border: 1px solid #fff;
}
.color-blind .blue.revealed,
.color-blind.codemaster .blue.hidden-word {
  outline: 2px solid #4183cc;
  border: 1px solid #fff;
}
.color-blind .revealed .word {
  text-decoration: underline;
}
.dark-mode {
  background: #212121;
}
.dark-mode h1 {
  color: #ccc;
}
.dark-mode .cell {
  background: #757575;
}
.dark-mode .codemaster .blue {
  color: #0d407b;
}
.dark-mode .codemaster .red {
  color: #8c0f0f;
}
.dark-mode .codemaster .blue.revealed,
.dark-mode .codemaster .red.revealed {
  color: #fff;
}
.dark-mode .codemaster .black.hidden-word {
  background: #444;
}
.dark-mode #end-turn-btn,
.dark-mode #mode-toggle button {
  background: #444;
  border: 1px solid #999;
  color: #bbb;
}
.dark-mode #mode-toggle button.gear {
  background-color: transparent;
  border: none;
  color: #444;
}
.dark-mode #remaining,
.dark-mode #timer {
  color: #eee;
}
#game-view.full-screen {
  width: 98vw;
}
.full-screen .board {
  height: 75vh;
}
.full-screen .cell {
  font-size: 1.5vw;
}
.full-screen #status-line {
  font-size: 3vh;
  margin: 0.25em 0;
}
.full-screen #infoContent {
  justify-content: flex-end;
}
@media (width < 1000px) {
  .full-screen .cell {
    font-size: 2.5vw;
  }
}
.settings {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
}
.settings h2 {
  text-align: center;
}
.close-settings {
  position: fixed;
  top: 32px;
  right: 32px;
  cursor: pointer;
}
.settings-content {
  max-width: 600px;
  width: 95vw;
  margin: 1em auto;
}
.settings h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin: 5em 0 2em;
}
.toggle-set {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-set .settings-desc {
  font-size: 0.8em;
  color: #555;
}
.toggle {
  display: flex;
  height: 32px;
  width: 50px;
  border-radius: 16px;
  background-color: #eee;
  cursor: pointer;
}
.switch {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid #bbb;
  background-color: #fff;
}
.toggle.active {
  background-color: #e1f4d0;
  justify-content: flex-end;
}
.toggle-state {
  font-weight: 700;
}
#coffee {
  margin-top: 2em;
  text-align: right;
  font-size: 0.8em;
}
#coffee a {
  color: #ccc;
}
.dark-mode #coffee a {
  color: #555;
}
.color-blind #coffee a {
  color: #000;
  font-weight: 700;
}
/*# sourceMappingURL=/game.css.map */

body,
html {
  margin: 0;
  font-family: Roboto, verdana, sans-serif;
}
#topbar {
  padding: 1em;
}
#topbar a {
  color: #000;
  text-decoration: none;
}
.dark-mode #topbar a {
  color: #888;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: Courier New, monospace;
}
h2 {
  font-size: 1.1em;
}

p{
  font-family: '1942report'
}

p.intro {
  line-height: 1.5em;
  margin-bottom: 3em;
  text-align: justify;
  font-family: verdana;
  font-size: 0.9em;
}
#available-games {
  width: 500px;
  margin: 0 auto;
}
#available-games ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#new-game {
  margin: 0 auto 100px;
}
#new-game input#game-name {
  height: 50px;
  width: 350px;
  padding: 5px 10px;
  font-size: 1.3em;
  border: 1px solid #ddd;
  border-right: none;
  letter-spacing: 0.1em;
}
#new-game button {
  height: 62px;
  width: 120px;
  padding: 5px 10px;
  background: #e1f4d0;
  border: 1px solid #ddd;
  font-size: 1em;
  vertical-align: top;
  cursor: pointer;
}
#new-game-options {
  margin-top: 1em;
}
.language-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
.language-group input {
  margin-right: 0.4rem;
}
.btn-custom-word-set {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  border-top: 1px solid #ddd;
  margin-top: 0.5em;
  padding-top: 0.5em;
}
.btn-custom-word-set .label {
  flex-grow: 1;
}
#new-game-options textarea {
  width: 100%;
  height: 25em;
  margin: 0.5em 0;
  font-size: 0.6em;
  border: 1px solid #ddd;
  font-family: verdana, sans-serif;
  line-height: 2em;
  text-transform: uppercase;
}
#wordsets {
  margin-top: 1em;
}
#wordsets .instruction {
  font-size: 0.8em;
  font-family: verdana;
  color: #666;
}
.btn-wordsettoggle {
  cursor: pointer;
  border-radius: 0.25em;
  border: 1px solid #bbb;
  padding: 0.5em;
  display: inline-block;
  margin: 0.25em;
  font-family: verdana, sans-serif;
  font-size: 0.7em;
  user-select: none;
}
.btn-wordsettoggle:hover {
  border: 1px solid #999;
}
#wordsets .selected {
  background: #e1f4d0;
  border: 1px solid #a0c12a;
}
.btn-custom-word-set .symbol {
  width: 1em;
  display: inline-block;
}
.warning {
  color: #d13030;
  margin-top: 1em;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.9em;
}
.btn-custom-word-set:hover .label {
  color: #333;
}
.dropdown-label {
  display: flex;
}
#banner {
  width: 500px;
  margin: 0 auto 3em;
  font-size: 0.9em;
  border-radius: 0.5em;
  padding: 1em;
  background: #e1f4d0;
}
#banner a {
  color: #000;
  font-weight: 700;
}

#spymasterbox {
  width: 50%;
}

#timer-settings {
  margin: 2em 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#timer-settings .toggle-set {
  margin-left: 0;
  margin-right: 0;
}
#timer-settings .label {
  font-size: 0.9em;
}
#timer-settings .toggle-state {
  font-size: 0.8em;
}
#timer-duration {
  font-family: verdana;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0 1em;
  justify-content: space-between;
}
#timer-duration,
#timer-duration div {
  display: flex;
  align-items: center;
}
#timer-duration span {
  margin-right: 1.5em;
}
#timer-duration label {
  margin-right: 0.6em;
}
#timer-duration input {
  font-size: 1.3em;
  max-width: 50px;
}
/*# sourceMappingURL=/lobby.css.map */
/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'BadlyStamped';
  src: url('fonts/BadlyStamped.ttf');
}

.font-badlyStamped {
  font-family: 'BadlyStamped', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: '1942report';
  src: url('fonts/1942.ttf');
}

.font-n1942report {
  font-family: '1942report', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

@media (display-mode: standalone) {
  .App {
    user-select: none;
  }
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* System font classes */

.App .systemFontRegular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
.App .systemFontBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
}
.App .systemFontItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-style: italic;
}
.App .systemFontBoldItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.login-background {
  background: linear-gradient(45deg, #827358, #BAAF9C)
}

.login-grid-root {
  width: 100vw;
  height: 100vh;
}

.login-button {
  background: rgb(113,138,123);
  background: radial-gradient(circle, rgba(113,138,123,1) 75%, rgba(231,255,241,1) 100%);
}

.signup-button {
  background: rgb(113,138,123);
  background: radial-gradient(circle, #8F7575 75%, #FE9393 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'BadlyStamped';
  src: url('fonts/BadlyStamped.ttf');
}

.font-badlyStamped {
  font-family: 'BadlyStamped', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: '1942report';
  src: url('fonts/1942.ttf');
}

.font-n1942report {
  font-family: '1942report', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}